@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
}

.footer {
    width: 80vw;
    height: 40vh;
    margin: 0 auto;
}

.heading {
    font-size: 16px;
}

.content {
    display: flex;
    flex-direction: row;
}

.services {
    font-size: 16px;
    flex: 1;
}

.social-media {
    font-size: 16px;
    flex: 1;
}

.links {
    font-size: 16px;
    flex: 1;
}

.details {
    font-size: 16px;
    flex: 1;
}

.details p {
    line-height: 30px;
}

.details,
.social-media,
.links,
.services,
h4 {
    font-size: 18px;
    margin: 10px 0px 10px 0px;
}

.details,
.social-media,
.links,
.services,
a {
    color: #000000;
    text-decoration: none;
    line-height: 40px;
}

a:hover {
    transition: 0.03s;
    font-size: 19px;
}

hr {
    margin-bottom: 10px;
}

footer {
    text-align: center;
}